@import url("styles/colors.css");

.wrapper {
  display: flex;
}

.container {
  padding: 0px 0px 20px 0px; 
  margin: 5px 0px 20px 0px; 
}

*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

   /*font-size: 16px;*/
}

body {
  color: var(--dark);
  font-weight: lighter;
  font: 400 15px/22px 'Open Sans', 'Helvetica Neue', Sans-serif;
  font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 20px;
}

.component-title {
  display: block;
  font-size: 1.17em;
  /*margin-top: 1em;
  margin-bottom: 1em;
  */
  padding-left: 16px;
  margin-right: 0;
  font-weight: bold;
  
  width: 100%;
  background: var(--light-gray);
}

.form-group {
  padding-top: 10px;
}

form {
  padding-left: 16px;
}